extends ../layout_tailwindcss

include ../mixins/prebuild_blocks

block content
  .container.mx-auto.mt-16
    +header() Zaloguj Się
    +divider
    form(method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      div(class="w-2/5")
        .my-4
          +form_input("email", "text", "Email", "Podaj swój Email")
          +form_input("password", "password", "Hasło", "Podaj swoje hasło")
        .mt-14
          +button(type='submit').mr-5
            i.fa.fa-user.mr-2
            | Zaloguj się
          a(href='/forgot') Zapomniałeś hasła?

