extends ../layout_tailwindcss

include ../mixins/prebuild_blocks

block content
  .container.mx-auto
    if !signup
      if setup
        +header Witaj!
        +divider
        p Stwórz konto administratora aby móc korzystać z programu!
      else 
        +header Dodaj Konto!
        +divider
        p Stwórz nowe konto użytkownika i rozszerz swój zespół :)
    else 
        +header Witaj!
        +divider
        p.-mt-8 Stwórz konto użytkownika aby móc sprzedać swoje książki
    div(class="w-3/5")
      form(id='signup-form', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .my-4.flex.flex-wrap
          div(class="w-full md:w-1/2").px-2
            +form_input("name", "text", "Imię", "Podaj Imię")(required, autofocus)
          div(class="w-full md:w-1/2").px-2
            +form_input("surname", "text", "Nazwisko", "Podaj Nazwisko")(required)
          div(class="w-full").px-2
            +form_input("email", "email", "E-Mail", "Podaj E-Mail")(required)
          if !setup
            div(class="w-full").px-2
              +form_input("phone", "phone", "Nr. Telefonu", "Podaj Numer Telefonu")(required)
          div(class="w-full md:w-1/2").px-2
            +form_input('password', 'password', 'Hasło', 'Podaj Hasło')(required)
          div(class="w-full md:w-1/2").px-2
            +form_input('confirmPassword', 'password', 'Powtórz Hasło', 'Wpisz ponownie hasło')(required)
          if !signup
            div(class="w-full").px-2
              +form_select('role', 'role', 'Wybierz Rolę', 'Wybierz Rolę')(required)
                if !setup
                  option seller 
                  option student
                  option admin 
                option headadmin 
          if schools
            div(class="w-full").px-2
              +form_select('school', 'school', 'Wybierz Szkołę', 'Wybierz Szkołę')(required)
                each school in schools
                  option(value=school._id)= school.name 
        .mt-14
          +button(type='submit')
            i.fa.fa-user-plus.mr-2
            | Signup
