extends ../layout_tailwindcss

include ../mixins/prebuild_blocks

block content
  .container.mx-auto
    if !signup
      if setup
        +header= language.website.headers.hello
        +divider
        p Stwórz konto administratora aby móc korzystać z programu!
      else 
        +header= language.website.headers.addAccount
        +divider
        p Stwórz nowe konto użytkownika i rozszerz swój zespół :)
    else 
        +header= language.website.headers.hello
        +divider
        p.-mt-8 Stwórz konto użytkownika aby móc sprzedać swoje książki
    div(class="md:w-3/5")
      form(id='signup-form', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .my-4.flex.flex-wrap
          div(class="w-full md:w-1/2").px-2
            +form_input("name", "text", language.website.input.name.label, language.website.input.name.placeholder)(maxlength="20",required, autofocus)
          div(class="w-full md:w-1/2").px-2
            +form_input("surname", "text", language.website.input.surname.label, language.website.input.surname.placeholder)(maxlength="20", required)
          div(class="w-full").px-2
            +form_input("email", "email", language.website.input.email.label, language.website.input.email.placeholder)(required)
          if !setup
            div(class="w-full").px-2
              +form_input("phone", "phone", language.website.input.phone.label, language.website.input.phone.placeholder)(required)
          div(class="w-full md:w-1/2").px-2
            +form_input('password', 'password', language.website.input.password.label, language.website.input.password.placeholder)(required)
          div(class="w-full md:w-1/2").px-2
            +form_input('confirmPassword', 'password', language.website.input.confirmPassword.label, language.website.input.confirmPassword.placeholder)(required)
          if !signup
            div(class="w-full").px-2
              +form_select('role', 'role', language.website.input.role.label,language.website.input.role.label.placeholder)(required)
                if !setup
                  option seller 
                  option student
                  option admin 
                option headadmin 
          if schools
            div(class="w-full").px-2
              +form_select('school', 'school', language.website.input.school.label, language.website.input.school.label.placeholder)(required)
                each school in schools
                  option(value=school._id)= school.name 
          div.m-2
            input#privacy(type="checkbox", name="privacy" required)
            label(for="privacy").ml-2 Akceptuję
              +link("/privacy").ml-2 Politykę Prywatności
        .mt-14
          +button(type='submit')
            i.fa.fa-user-plus.mr-2
            | #{language.website.button.signup}
