include ../mixins/a
footer.mt-auto
  .container.flex.flex-row.justify-center.space-x-4.mx-auto
    +link("https://www.linkedin.com/in/piotr-czirnia-79a7401bb/") by Piotr Czirnia 
    +link("/privacy") Polityka Prywatności