include ../mixins/a
footer.mt-auto
  .container.flex.flex-row.justify-center.space-x-4.mx-auto
    +link("https://www.linkedin.com/in/piotr-czirnia-79a7401bb/") by Piotr Czirnia 
    +link("/privacy")= language.website.button.privacyPolicy
    +link("/tos") Regulamin

  form.flex.flex-row.my-auto.justify-center.space-x-2(action="/language", method="POST")
    button(name="language", value="uk") Ukrainian
    button(name="language", value="pl") Polish
    //- button(name="language", value="bad_pl") Brzydki Polski
    button(name="language", value="en") English
    //- button(name="language", value="nya") Anime
    //- button(name="language", value="dbg") Debug