footer
  .container.text-center
    p.pull-left by 
      a(href="https://www.linkedin.com/in/piotr-czirnia-79a7401bb/") PRFL
      //- img(src="https://preview.redd.it/4e350epgfhx81.jpg?auto=webp&s=94c0f9e443fe4c3ac7dd72c5e6308f3bd55c27d5" onclick="alert('kERR')" height="20px")