footer
  .container.text-center
    span.pull-left by
      a(href="https://www.linkedin.com/in/piotr-czirnia-79a7401bb/") PRFL
    a.ms-4(href="/privacy") Polityka Prywatności
    a.ms-4(href="/tos") Regulamin