include ../mixins/a
nav.px-28.py-9.flex
  a(href='/')
    i.bg-clip-text.text-transparent.bg-gradient-to-tr.from-white.to-primary.fa-solid.fa-bookmark.mx-4.text-3xl
    span.font-bold.text-white.text-2xl.m-auto SignumLBRI
  nav.navigator.grow.mx-8.m-auto
    +link("/", "Główna")
  nav.user.flex-none.m-auto
    if !user
      +link('/login', "Zaloguj Się") 
      +link('/register', "Zarejestruj Się") 
    else
      p