<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="color-scheme" content="dark">
</head>

<body style="width: 600px; height: 800px; background: url('https://ksiazki.opole.pl/images/background.png'); background-repeat: no-repeat; font-family: 'Open Sans', Arial">
    <div class="p-8" style="width: 100%">
        <table width="100%" cellspacing="0" cellpadding="0">
            <tr>
                <td align="left"><a href="https://ksiazki.opole.pl"><img class="inline-block" src="https://ksiazki.opole.pl/images/img.png" width="175px"></a></td>
                <td align="right"><span class="float-right inline-block">Targi Książek, <span class="font-serif font-semibold text-primary">prościej!</span></span></td>
            </tr>
        </table>
        <div class="m-8 my-20 text-lg">
            <h1 class="text-6xl font-extrabold text-white my-4">Witaj!</h1>
            <div class="w-32 h-2 mb-14 mt-4 rounded-full bg-primary"></div>
            <p>Cieszymy się, że do nas dołączyłeś. Teraz pozostał tylko jeden krok, aby dokończyć rejestrację i rozpocząć korzystanie z naszej aplikacji.</p><br>
            <p>Aby aktywować swoje konto, prosimy kliknij w poniższy link w celu weryfikacji swojego adresu e-mail:</p>
        </div>
    </div>
    <table width="100%" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center">
                <div><a class="px-14 py-3 text-white rounded-full text-lg border-white border-2 hover:border-secondary transition-colors duration-75 inline-block">Dokończ Rejestrację</a></div>
            </td>
        </tr>
    </table>
</body>

</html>