
extends ../layout_tailwindcss

include ../mixins/prebuild_blocks
include ../mixins/a

block content
    div.container.mx-auto
        +header Dodaj Książkę
        +divider
        form(action="", method="post").register_book.mt-6
            input(type="text", name="cost" required)#currencyFormated.hidden
            div.flex.flex-col
                div.flex.flex-row.flex-wrap.justify-center
                    img(class="data-[val-loaded]:visible data-[val-loaded]:opacity-100 data-[val-loaded]:h-[32rem] data-[val-loaded]:object-contain data-[val-loaded]:w-auto data-[val-loaded]:m-4").bookCover.invisible.opacity-0.transition-opacity.duration-150
                    div.grow
                        div
                            +form_input("isbn", "text", "Podaj kod ISBN (Kod Kreskowy z tyłu książki)", "ISBN", required).numeric
                        div.h-0.opacity-0.transition-opacity.duration-150(class="data-[val-loaded]:h-auto data-[val-loaded]:opacity-100")
                            +form_input("title", "text", "Nazwa Książki", required)
                        div.h-0.opacity-0.transition-opacity.duration-150(class="data-[val-loaded]:h-auto data-[val-loaded]:opacity-100")
                            +form_input("publisher", "text", "Wydawca", required)
                        div.h-0.opacity-0.transition-opacity.duration-150(class="data-[val-loaded]:h-auto data-[val-loaded]:opacity-100")
                            +form_input("authors", "text", "Autorzy")
                        div.h-0.opacity-0.transition-opacity.duration-150(class="data-[val-loaded]:h-auto data-[val-loaded]:opacity-100")
                            +form_input("pubDate", "text", "Data Publikacji")
                .dataLoad.text-center.hidden
                    //- span Ładowanie
                    i.fa-solid.fa-book.font-bold.ml-3.animate-ping
                div.w-auto
                    +form_input("", "text", "Cena", required)#currency
            +button(type="submit").mt-6 Wystaw