extends ../layout

block content
  .page-header
    h3 Witaj!
    p Dodaj nową szkołę do systemu
    hr
  form.form-horizontal(method="POST" enctype='multipart/form-data')
    input(type='hidden', name='_csrf', value=_csrf)
    .input-group.mb-3.row.justify-content-md-center
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='name') Nazwa Szkoły
      .col-sm-7
        div.d-flex.flex-row
            input(type="text", name="name", placeholder="Nazwa Szkoły" ).form-control
    .input-group.mb-3.row.justify-content-md-center.my-4
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='fullname') Pełna nazwa szkoły
      .col-sm-7
        input(type="fullname", name="longname", placeholder="Pełna nazwa szkoły").form-control
    .input-group.mb-3.row.justify-content-md-center.my-4
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='street') Lokalizacja Szkoły
      .col-sm-7
        input(type='text', name='street', id='street', placeholder='Lokalizacja Szkoły', required).form-control
    .input-group.mb-3.row.justify-content-md-center.my-4
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='icon') Logo Szkoły
      .col-sm-7
        input(type='file', name='icon', id='icon', placeholder='Logo Szkoły').form-control
    .input-group.mb-3.row.justify-content-md-center.m-4
      .offset-sm-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-user-plus
          | Zapisz
